*,
*::before,
*::after {
  box-sizing: inherit;}
html {
  box-sizing: border-box;
}
body {
  font-family: Arial, sans-serif;
  position: relative;
  font-size: medium;
}
button{
  border-radius: 10%;
  padding: 3% 5%;
  font-weight: 900;
  font-size: large;
}
button:hover{
  background-color: blue;
  transition: 1s;
}
.navbar {
  background-color: red;
  padding: 2%;
  justify-content: space-between;
  align-items: center;
  display: flex;
}
.menu {
  display: none;
}
@media screen {
  .menu {
  }
}
.Navigations a {
  border: none;
  margin: 8%;
  text-decoration: none;
  background-color: red;
}
.hero {
  background-color: #f2f2f2;
  background-image: url(/images/men-wears-logo.png);
  background-size: 50% 70%;
  background-repeat: no-repeat;
  height: 100%;
  height: 50vh;
  background-position: left;
  position: relative;
}
.abouthero{
  align-items: center;
  display: flex;
  justify-content: end;
  text-align: justify;

  margin : 0 20%;
}
hero::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
}
.hero-content {
  position: absolute;
  text-align: center;
  align-items: center;
  padding: 1%;
  width: 25%;
  top: 10%;
  left: 45%;
  width: 50%;
  background-color: transparent;
}
.hero-content p h1 button {
  padding: 100px;
  margin-top: 100px;
}
.cards {
  background-color: #12bb37;
  display: grid;
  margin: 10px;
  flex-direction: row;
    color: red;

}
.card{
  text-align: center;
  align-items: center;
}
.blogcards {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  gap: 20px;
}
.footer {
  background-color: #f2f2f2;
  padding: 20px;
  text-align: center;
}
.delivery{
  background-color:red;
}
.customer-care{
  background-color:rgb(55, 41, 180);
}
.refund{
  background-color:red;
}





